@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-100: #fcd982;
  --brand-200: #ffeec4;
  --neutral-100: #181818;
  --neutral-200: #252525;
  --neutral-300: #2e2e2e;
  --neutral-400: #3f3f3f;
  --neutral-500: #4f4f4f;
  --neutral-600: #8a8a8a;

  --danger-100: #ff4d4d;
  --danger-200: #b30000;

  --card-spade: var(--neutral-500);
  --card-spade-icon: #1e1e1e;
  --card-heart: var(--danger-100);
  --card-heart-icon: var(--danger-200);
  --card-diamond: #4d79ff;
  --card-diamond-icon: #002699;
  --card-club: #2ecc71;
  --card-club-icon: #1d8348;

  --text: #6b6375;
  --text-h: #08060d;
  --bg: var(--neutral-100);
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #f9fafb;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.button-primary {
  @apply bg-brand-100 hover:bg-brand-200 border-2 border-brand-100 hover:border-brand-200 hover:text-neutral-100 text-neutral-100 font-bold;
}

.button-secondary {
  @apply bg-neutral-200 hover:bg-neutral-300 border-2 border-brand-100 hover:border-brand-200 hover:text-brand-100 text-brand-100 font-bold;
}